<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employer</title>
    <link rel="stylesheet" href="{% static "css/employer.css" %}">
</head>

<body>
    <div class="wrapper">
        <header>
            <ul>
                <a href="/">На главную</a>
                <a href="#">Войти</a>
            </ul>
        </header>
        <section class="under-header"><img src="{% static "images/logo_base.svg"%}" width="200" height="200" alt="logo"></section>
        <section class="vancantion">
            <div class="container">
                <div class="vancantion-inner">
                    <h1>Разместите вакансию на военмех.ру</h1>
                    <a href="#" class="btn">Разместить вакансию</a>
                </div>
            </div>
        </section>
    </div>
</body>

</html>